$gray: #70908B;
$lightpink: #FFEDCD;
$lightgray: #C4C4C4;
$lightblue: #E2F0DF;
$darkgray: #195557;


.mainContainer {
    background-image: url(/assets/images/Subtract.jpg);
    width: 1920px;
    background-size: contain;
    height: 992px;
}

.header {
    display: flex;
}

.header__logo {
    margin-top: 35px;
    margin-left: 61px;
}

.header__nav {
    margin-top: 69px;
    font-size: 16px;
    height: 20px;
    margin-left: 589px;
    box-sizing: border-box;
}

.header__nav_openList {
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-left: 8px solid $darkgray;
    border-bottom: 6px solid transparent;
    margin-left: -15px;
    margin-bottom: -15px;
}

.header__nav a {
    margin-left: 89px;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: $darkgray;
    text-decoration: none;

    &:nth-child(2) {
        margin-left: 0px;
    }
}

.header__phoneNumber {
    display: flex;
    margin-top: 48px;
}

.header__phoneNumber__button {
    background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
    box-shadow: 4px 4px 20px 0px #C2CCCA;
    height: 69px;
    width: 69px;
    border-radius: 40px;
    border-style: none;
    margin-left: 132px;
}

.header__phoneNumber__number {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: $darkgray;
    margin-top: 21px;
    margin-left: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.header__basket {
    margin-left: 80px;
    height: 33px;
}

.header__basket img {
    margin-top: -15px;
    z-index: 0;
    position: relative;
}

.header__basket_number {
    border-radius: 50%;
    background-color: $lightpink;
    width: 19px;
    height: 19px;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    padding-top: 3px;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    margin-left: 25px;
    margin-top: 55px;
    position: relative;
    z-index: 1;
}

.main__title {
    text-align: center;
    color: $gray;
}

.main__title__hedgehogs {
    height: 94px;
    width: 443px;
    margin-top: 173px;
}

.main__title__text1 {
    font-family: 'Cormorant Infant';
    font-size: 50px;
    font-weight: 400;
    margin-top: 19px;
}

.main__title__text2 {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;
}

.main__title_mainButton {
    height: 69px;
    width: 328px;
    border-radius: 40px;
    background-color: $gray;
    border-color: $gray;
    color: #FFFFFF;
    border-style: none;
    box-shadow: 4px 4px 20px 0px #C2CCCA;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-top: 34px;

    &:hover {
        background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
        color: $darkgray;
    }
}

.main__about {
    display: flex;
    justify-content: space-around;
}

.hedgehogBreeding_logo,
.hedgehogHealth_logo,
.hedgehogLove_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 152px;
    border-radius: 50%;
    margin-left: 95px;
    margin-right: 95px;
    box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
}

.hedgehogBreeding_logo {
    background-color: $lightpink;
    margin-top: 150px;
}

.hedgehogHealth_logo {
    background: $lightblue;
    margin-top: 127px;
}

.hedgehogLove_logo {
    background: $gray;
    margin-top: 150px;
}

.hedgehogBreeding_text,
.hedgehogHealth_text,
.hedgehogLove_text {
    width: 173px;
    color: $darkgray;
    text-align: center;
    margin-top: 30px;
    margin-left: 95px;
    margin-right: 95px;
}


.hedgehogBreeding_text1,
.hedgehogHealth_text1,
.hedgehogLove_text1 {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: $darkgray;
}

.hedgehogBreeding_text2,
.hedgehogHealth_text2,
.hedgehogLove_text2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: $darkgray;
}

.hedgehogLeft {
    margin-top: -40px;
}

.hedgehogRight {
    margin-left: -85px;
    margin-top: 120px;
}

.main__cards {
    display: flex;
    padding-left: 370px;
    margin-top: 100px;
}

.main__cards_leftCard {
    width: 570px;
    height: 397px;
    background: $lightpink;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    // border: 1px solid red;
}

.main__cards_rightCard {
    width: 570px;
    height: 397px;
    background: $lightblue;
    border-radius: 20px;
    margin-left: 39px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    // border: 1px solid red;
}

.main__cards_leftBlock {
    margin-left: 62px;
}

.main__cards_rightBlock {
    margin-left: -70px;
    box-sizing: border-box;
}

.main__cards_rightBlock img:nth-child(1) {
    margin-bottom: -50px;
    margin-left: 310px;
}

.main__cards_rightBlock img:nth-child(2) {
    margin-top: 75px;
}

.main__cards_rightBlockEllipse1 {
    margin-top: -70px;
    margin-left: 15px;
}

.main__cards_rightBlockEllipse2 {
    margin-top: -110px;
    margin-left: 15px;
}

.main_cards_discount {
    height: 36px;
    width: 68px;
    background-color: $gray;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    padding: 6px;
    box-sizing: border-box;
    margin-top: -6px;
}

.main__cards_title {
    font-family: 'Cormorant Infant';
    font-size: 40px;
    font-weight: 700;
    color: $darkgray;
    margin-top: 24px;
}

.main__cards_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-top: 17px;
    width: 182px;
}

.main__cards_price1 {
    width: 204px;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-decoration-line: line-through;
    color: #C2CCCA;
    margin-top: 7px;
    margin-bottom: 0px;
}

.main__cards_price2 {
    width: 204px;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: $darkgray;
    margin-top: 0;
}

.main__cards_addBlockRight {
    width: 230px;
    height: 144px;
    margin-left: 240px;
    margin-top: -40px;
    background: #FFFFFF;
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.main__cards_addBlockLeft {
    width: 230px;
    height: 144px;
    margin-left: 240px;
    margin-top: -40px;
    background: #FFFFFF;
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.main__cards_addBlockRight div,
.main__cards_addBlockLeft div {
    width: 27px;
    height: 27px;
    background-image: url(/assets/images/+.svg);
    transform: rotate(45deg);
    margin-left: 110px;
    padding-top: 120px;
    background-repeat: no-repeat;
}

.main__cards_arrowLeft {
    margin-right: 35px;
}

.main__cards_arrowRight {
    margin-left: 35px;
}


.main__form {
    margin-left: 363px;
    margin-top: 93px;
    position: relative;
    z-index: 1;
}

.main__form_form {
    height: 484px;
    width: 1197px;
    border-radius: 30px;
    background-color: #EAEEEF;
}

.main__form_formTitle {
    font-family: 'Cormorant Infant';
    font-size: 45px;
    font-weight: 700;
    height: 54px;
    color: $darkgray;
    padding-left: 50px;
    padding-top: 39px;
}

.main__form_topBlock {
    display: flex;
    justify-content: space-between;
}

.main__form_button {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    box-sizing: border-box;
    width: 170px;
    height: 49px;
    color: $gray;
    background-color: #FFFFFF;
    border: 2px solid $gray;
    border-radius: 61px;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 14px;


    &:nth-child(1) {
        background-color: $gray;
        color: #FFFFFF;
        margin-left: 49px;
    }

    &:nth-child(3) {
        width: 199px;
    }
}

.main__form_radioBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 53px;
    float: right;
    margin-top: 20px;
    font-family: 'Cormorant Infant';
    font-size: 14px;
    font-weight: 700;
    color: $gray;
    margin-right: 113px;
}

.radio {
    width: 14px;
    border-color: $gray;
    background-color: #EAEEEF;
    margin-right: 7px;
    margin-top: 10px;
}

.radioText {
    display: block;
    margin-top: -18px;
    margin-left: 20px;
}

.main__form_input {
    height: 62px;
    width: 352px;
    border-radius: 8px;
    background: #F8F8F8;
    margin-top: 43px;
    border: none;
    margin-left: 20px;
    color: $darkgray;
    padding-left: 27px;
    box-sizing: border-box;

    &:nth-child(1) {
        margin-left: 49px;
    }
}

.main__form_textarea {
    height: 108px;
    width: 1102px;
    border-radius: 8px;
    background: #F8F8F8;
    border: none;
    margin-top: 20px;
    margin-left: 49px;
    padding-left: 27px;
    box-sizing: border-box;
}

.main__form_mainButtonblock {
    text-align: center;
}

.main__form_mainButton {
    height: 69px;
    width: 328px;
    border-radius: 40px;
    background-color: $gray;
    border-color: $gray;
    color: #FFFFFF;
    border-style: none;
    box-shadow: 4px 4px 20px 0px #C2CCCA;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-top: 45px;

    &:hover {
        background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
        color: $darkgray;
    }
}

.main__count {
    display: block;
    margin-left: 777px;
    margin-top: 60px;
    width: 370px;
}

.main__count_title {
    font-family: 'Cormorant Infant';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: $darkgray;
    margin-top: 20px;
    display: flex;
}

.main__count_title p {
    margin-left: 13px;
}

.main__count_title a {
    color: $darkgray;
}

.main__count_text {
    height: 47px;
    width: 191px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 30px;
    color: $darkgray;
    margin-left: 89px;
    text-align: center;
}

.footer {
    height: 184px;
    width: 1920px;
    background-color: $gray;
    margin-top: 60px;
}

.footer__topBlock {
    display: flex;
    height: 96px;
    width: 1920px;
}

.footer__logo {
    width: 132px;
    margin-left: 60px;
    margin-top: 49px;
}

.footer__nav {
    margin-left: 610px;
    margin-top: 78px;
}

.footer__nav a {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 85px;

    &:nth-child(1) {
        margin-left: 0;
    }
}

.footer__socialNetworks {
    width: 160px;
    margin-left: 100px;
}

.footer__socialNetworks img {
    margin-left: 10px;
    margin-top: 65px;
}

.footer__phoneNumber {
    width: 194px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    margin-left: 76px;
    margin-top: 74px;
}

.footer__bottomBlock {
    height: 24px;
    width: 398px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-size: 9px;
    font-weight: 400;
    margin-left: 61px;
    margin-top: 25px;
}